.about-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    padding: 2rem;
}

.about-content {
    max-width: 800px;
    width: 100%;
}

.about-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: var(--color-secondary);
    margin-bottom: 2rem;
}

.about-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--color-secondary);
    line-height: 1.6;
}

.year-Highlight {
    color: var(--color-tertiary);
}